# sixbitd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.sixbit
host=127.0.0.1

# mainnet default
port=16665

# testnet default
#port=26665

# regtest default
#port=46665

# signet default
#port=56665

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=d8a63fc1
#genesis=PUT_YOUR_6BIT_MAINNET_GENESIS_HASH_HERE
input=/home/example/.sixbit/blocks

# testnet
#netmagic=459ce27a
#genesis=PUT_YOUR_6BIT_TESTNET_GENESIS_HASH_HERE
#input=/home/example/.sixbit/testnet3/blocks

# regtest
#netmagic=fa31b709
#genesis=PUT_YOUR_6BIT_REGTEST_GENESIS_HASH_HERE
#input=/home/example/.sixbit/regtest/blocks

# signet
#netmagic=DERIVED_FROM_6BIT_SIGNET_CHALLENGE
#genesis=PUT_YOUR_6BIT_SIGNET_GENESIS_HASH_HERE
#input=/home/example/.sixbit/signet/blocks

output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

out_of_order_cache_sz = 100000000
rev_hash_bytes = False
file_timestamp = 0
split_timestamp = 0
debug_output = False